## Tabasque

In [1]:
import geopandas as gpd
import pandas as pd

In [ ]:
# Archivos shapefile para acceder a los AGEBs de SCINCE
ruta_urbana = r"C:\SCINCE 2020\27_TAB\cartografia\ageb_urb.shp"
ruta_rural = r"C:\SCINCE 2020\27_TAB\cartografia\loc_rur.shp"

In [7]:
# Leer los archivos
gdf_urbana = gpd.read_file(ruta_urbana)
gdf_rural = gpd.read_file(ruta_rural)

In [13]:
gdf_rural.head(2)

,CVEGEO,NOM_ENT,NOM_MUN,NOMGEO,CVE_AGEB,POB1,POB2,POB2_R,POB4,POB4_R,...,POB121,POB121_R,POB122,POB122_R,POB123,POB123_R,POB124,POB124_R,OID,geometry
0,270080616,Tabasco,Huimanguillo,El Carmen,0281,169.0,10.0,5.9,11.0,6.5,...,2.0,1.2,1.0,0.6,0.0,0.0,0.0,0.0,1,POINT (3384062.205 674925.627)
1,270010002,Tabasco,Balancán,Agricultores del Norte 1ra. Sección,0134,317.0,12.0,3.8,19.0,6.0,...,3.0,0.9,0.0,0.0,1.0,0.3,3.0,0.9,2,POINT (3653251.553 705728.278)

In [12]:
gdf_urbana.head(2)

,CVEGEO,POB1,POB2,POB2_R,POB4,POB4_R,POB5,POB5_R,POB6,POB6_R,...,POB121,POB121_R,POB122,POB122_R,POB123,POB123_R,POB124,POB124_R,OID,geometry
0,2700100010651,16.0,-6.0,-6.0,-6.0,-6.0,3.0,18.8,4.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,"POLYGON ((3608550.38 687763.244, 3608478.886 6..."
1,2700100740740,43.0,-6.0,-6.0,0.0,0.0,3.0,7.0,7.0,16.3,...,-6.0,-6.0,0.0,0.0,0.0,0.0,-6.0,-6.0,2,"POLYGON ((3644892.322 702272.773, 3644881.518 ..."

## Jalisque

In [14]:
ruta_urbana = r"C:\SCINCE 2020\14_JAL\cartografia\ageb_urb.shp"
ruta_rural = r"C:\SCINCE 2020\14_JAL\cartografia\loc_rur.shp"

gdf_urbana = gpd.read_file(ruta_urbana)
gdf_rural = gpd.read_file(ruta_rural)

In [15]:
gdf_rural.head(2)

,CVEGEO,NOM_ENT,NOM_MUN,NOMGEO,CVE_AGEB,POB1,POB2,POB2_R,POB4,POB4_R,...,POB121,POB121_R,POB122,POB122_R,POB123,POB123_R,POB124,POB124_R,OID,geometry
0,141230016,Jalisco,Zapotlán del Rey,Chila,0040,871.0,55.0,6.3,64.0,7.3,...,14.0,1.6,2.0,0.2,2.0,0.2,4.0,0.5,1,POINT (2399184.145 939936.005)
1,141200288,Jalisco,Zapopan,Los Otates,0087,12.0,-7.0,-7.0,-7.0,-7.0,...,-7.0,-7.0,-7.0,-7.0,-7.0,-7.0,-7.0,-7.0,2,POINT (2361279.097 978263.752)

In [16]:
gdf_urbana.head(2)

,CVEGEO,POB1,POB2,POB2_R,POB4,POB4_R,POB5,POB5_R,POB6,POB6_R,...,POB121,POB121_R,POB122,POB122_R,POB123,POB123_R,POB124,POB124_R,OID,geometry
0,1400100010141,133.0,8.0,6.0,12.0,9.0,17.0,12.8,18.0,13.5,...,-6.0,-6.0,-6.0,-6.0,0.0,0.0,0.0,0.0,1,"POLYGON ((2406407.173 974638.402, 2406337.42 9..."
1,140010001018A,3.0,-6.0,-6.0,-6.0,-6.0,-6.0,-6.0,-6.0,-6.0,...,-6.0,-6.0,-6.0,-6.0,-6.0,-6.0,-6.0,-6.0,2,"POLYGON ((2404583.405 974679.044, 2404594.899 ..."

## Aguacaliente

In [22]:
ruta_urbana = r"C:\SCINCE 2020\01_AGS\cartografia\ageb_urb.dbf"
ruta_rural = r"C:\SCINCE 2020\14_JAL\cartografia\loc_rur.shp"

gdf_urbana = gpd.read_file(ruta_urbana)
gdf_rural = gpd.read_file(ruta_rural)

In [25]:
gdf_urbana.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 479 entries, 0 to 478
Columns: 260 entries, CVEGEO to geometry
dtypes: float64(257), geometry(1), int32(1), object(1)
memory usage: 971.2+ KB